package {{package}};
{{#models}}{{#model}}

{{#usesRest}}import com.starkbank.utils.Rest;
{{/usesRest}}import com.starkbank.utils.Resource;
{{#usesGenerator}}import com.starkbank.utils.Generator;
{{/usesGenerator}}{{#usesSubResource}}import com.starkcore.utils.SubResource;
{{/usesSubResource}}
{{#vendorExtensions.x-sdk-pdf}}import java.io.InputStream;
{{/vendorExtensions.x-sdk-pdf}}{{#usesList}}import java.util.ArrayList;
{{/usesList}}import java.util.HashMap;
{{#usesList}}import java.util.List;
{{/usesList}}import java.util.Map;

/**
 * {{classname}} object
 * <p>
 * {{{description}}}
 * <p>
 * Parameters:
{{#vars}} * {{name}} [{{{dataType}}}]{{^required}}, optional{{/required}}: {{{description}}}
{{/vars}} *
 */
public class {{classname}} extends Resource {
    static ClassData data = new ClassData({{classname}}.class, "{{classname}}");

{{#vars}}{{^-first}}    public {{{dataType}}} {{name}};
{{/-first}}{{/vars}}

    public {{classname}}({{#vars}}{{^-first}}{{{dataType}}} {{name}}{{^-last}}, {{/-last}}{{/-first}}{{/vars}}) {
        super(null);
{{#vars}}{{^-first}}        this.{{name}} = {{name}};
{{/-first}}{{/vars}}    }

    @SuppressWarnings("unchecked")
    public {{classname}}(Map<String, Object> data) throws Exception {
        super(null);
        HashMap<String, Object> dataCopy = new HashMap<>(data);
{{#vars}}{{^-first}}        this.{{name}} = ({{{dataType}}}) dataCopy.remove("{{name}}");
{{/-first}}{{/vars}}
        if (!dataCopy.isEmpty()) {
            throw new Exception("Unknown parameters used in constructor: [" + String.join(", ", dataCopy.keySet()) + "]");
        }
    }

    public {{classname}}() {
        super(null);
    }
{{#vendorExtensions.x-sdk-create}}

    /**
     * Create {{classname}}s
     * <p>
     * Send a list of {{classname}} objects for creation in the Stark Bank API
     * <p>
     * Parameters:
     * @param {{classVarName}}s [list of {{classname}} objects or HashMaps]: list of {{classname}} objects to be created in the API
     * <p>
     * Return:
     * @return list of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    public static List<{{classname}}> create(List<?> {{classVarName}}s) throws Exception {
        return {{classname}}.create({{classVarName}}s, null);
    }

    /**
     * Create {{classname}}s
     * <p>
     * Send a list of {{classname}} objects for creation in the Stark Bank API
     * <p>
     * Parameters:
     * @param {{classVarName}}s [list of {{classname}} objects or HashMaps]: list of {{classname}} objects to be created in the API
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return list of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    @SuppressWarnings("unchecked")
    public static List<{{classname}}> create(List<?> {{classVarName}}s, User user) throws Exception {
        List<{{classname}}> {{classVarName}}List = new ArrayList<>();
        for (Object {{classVarName}} : {{classVarName}}s) {
            if ({{classVarName}} instanceof Map)
                {{classVarName}}List.add(new {{classname}}((Map<String, Object>) {{classVarName}}));
            else if ({{classVarName}} instanceof {{classname}})
                {{classVarName}}List.add(({{classname}}) {{classVarName}});
            else
                throw new Exception("Unknown type \"" + {{classVarName}}.getClass() + "\", use {{classname}} or HashMap");
        }
        return Rest.post(data, {{classVarName}}List, user);
    }
{{/vendorExtensions.x-sdk-create}}
{{#vendorExtensions.x-sdk-put}}

    /**
     * Create or update {{classname}}s
     * <p>
     * Send a list of {{classname}} objects for creation/update in the Stark Bank API
     * <p>
     * Parameters:
     * @param {{classVarName}}s [list of {{classname}} objects or HashMaps]: list of {{classname}} objects to be created/updated in the API
     * <p>
     * Return:
     * @return list of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    public static List<{{classname}}> put(List<?> {{classVarName}}s) throws Exception {
        return {{classname}}.put({{classVarName}}s, null);
    }

    /**
     * Create or update {{classname}}s
     * <p>
     * Send a list of {{classname}} objects for creation/update in the Stark Bank API
     * <p>
     * Parameters:
     * @param {{classVarName}}s [list of {{classname}} objects or HashMaps]: list of {{classname}} objects to be created/updated in the API
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return list of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    @SuppressWarnings("unchecked")
    public static List<{{classname}}> put(List<?> {{classVarName}}s, User user) throws Exception {
        List<{{classname}}> {{classVarName}}List = new ArrayList<>();
        for (Object {{classVarName}} : {{classVarName}}s) {
            if ({{classVarName}} instanceof Map)
                {{classVarName}}List.add(new {{classname}}((Map<String, Object>) {{classVarName}}));
            else if ({{classVarName}} instanceof {{classname}})
                {{classVarName}}List.add(({{classname}}) {{classVarName}});
            else
                throw new Exception("Unknown type \"" + {{classVarName}}.getClass() + "\", use {{classname}} or HashMap");
        }
        return Rest.put(data, {{classVarName}}List, user);
    }
{{/vendorExtensions.x-sdk-put}}
{{#vendorExtensions.x-sdk-get}}

    /**
     * Retrieve a specific {{classname}}
     * <p>
     * Receive a single {{classname}} object previously created in the Stark Bank API by passing its id
     * <p>
     * Parameters:
     * @param id [string]: object unique id. ex: "5656565656565656"
     * <p>
     * Return:
     * @return {{classname}} object with updated attributes
     * @throws Exception error in the request
     */
    public static {{classname}} get(String id) throws Exception {
        return {{classname}}.get(id, null);
    }

    /**
     * Retrieve a specific {{classname}}
     * <p>
     * Receive a single {{classname}} object previously created in the Stark Bank API by passing its id
     * <p>
     * Parameters:
     * @param id [string]: object unique id. ex: "5656565656565656"
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return {{classname}} object with updated attributes
     * @throws Exception error in the request
     */
    public static {{classname}} get(String id, User user) throws Exception {
        return Rest.getId(data, id, user);
    }
{{/vendorExtensions.x-sdk-get}}
{{#vendorExtensions.x-sdk-query}}

    /**
     * Retrieve {{classname}}s
     * <p>
     * Receive a generator of {{classname}} objects previously created in the Stark Bank API.
     * Use this function instead of page if you want to stream the objects without worrying about cursors and pagination.
     * <p>
     * Return:
     * @return generator of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    public static Generator<{{classname}}> query() throws Exception {
        return {{classname}}.query(new HashMap<>(), null);
    }

    /**
     * Retrieve {{classname}}s
     * <p>
     * Receive a generator of {{classname}} objects previously created in the Stark Bank API.
     * Use this function instead of page if you want to stream the objects without worrying about cursors and pagination.
     * <p>
     * Parameters:
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return generator of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    public static Generator<{{classname}}> query(User user) throws Exception {
        return {{classname}}.query(new HashMap<>(), user);
    }

    /**
     * Retrieve {{classname}}s
     * <p>
     * Receive a generator of {{classname}} objects previously created in the Stark Bank API.
     * Use this function instead of page if you want to stream the objects without worrying about cursors and pagination.
     * <p>
     * Parameters:
     * @param params map of parameters for the query
     * <p>
     * Return:
     * @return generator of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    public static Generator<{{classname}}> query(Map<String, Object> params) throws Exception {
        return {{classname}}.query(params, null);
    }

    /**
     * Retrieve {{classname}}s
     * <p>
     * Receive a generator of {{classname}} objects previously created in the Stark Bank API.
     * Use this function instead of page if you want to stream the objects without worrying about cursors and pagination.
     * <p>
     * Parameters:
     * @param params map of parameters for the query
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return generator of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    public static Generator<{{classname}}> query(Map<String, Object> params, User user) throws Exception {
        return Rest.getStream(data, params, user);
    }
{{/vendorExtensions.x-sdk-query}}
{{#vendorExtensions.x-sdk-page}}

    public final static class Page {
        public List<{{classname}}> {{classVarName}}s;
        public String cursor;

        public Page(List<{{classname}}> {{classVarName}}s, String cursor) {
            this.{{classVarName}}s = {{classVarName}}s;
            this.cursor = cursor;
        }
    }

    /**
     * Retrieve paged {{classname}}s
     * <p>
     * Receive a list of up to 100 {{classname}} objects previously created in the Stark Bank API and the cursor to the next page.
     * Use this function instead of query if you want to manually page your requests.
     * <p>
     * Return:
     * @return {{classname}}.Page object with {{classVarName}}s list and cursor
     * @throws Exception error in the request
     */
    public static Page page() throws Exception {
        return {{classname}}.page(new HashMap<>(), null);
    }

    /**
     * Retrieve paged {{classname}}s
     * <p>
     * Receive a list of up to 100 {{classname}} objects previously created in the Stark Bank API and the cursor to the next page.
     * Use this function instead of query if you want to manually page your requests.
     * <p>
     * Parameters:
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return {{classname}}.Page object with {{classVarName}}s list and cursor
     * @throws Exception error in the request
     */
    public static Page page(User user) throws Exception {
        return {{classname}}.page(new HashMap<>(), user);
    }

    /**
     * Retrieve paged {{classname}}s
     * <p>
     * Receive a list of up to 100 {{classname}} objects previously created in the Stark Bank API and the cursor to the next page.
     * Use this function instead of query if you want to manually page your requests.
     * <p>
     * Parameters:
     * @param params parameters of the query
     * <p>
     * Return:
     * @return {{classname}}.Page object with {{classVarName}}s list and cursor
     * @throws Exception error in the request
     */
    public static Page page(Map<String, Object> params) throws Exception {
        return {{classname}}.page(params, null);
    }

    /**
     * Retrieve paged {{classname}}s
     * <p>
     * Receive a list of up to 100 {{classname}} objects previously created in the Stark Bank API and the cursor to the next page.
     * Use this function instead of query if you want to manually page your requests.
     * <p>
     * Parameters:
     * @param params parameters of the query
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return {{classname}}.Page object with {{classVarName}}s list and cursor
     * @throws Exception error in the request
     */
    public static Page page(Map<String, Object> params, User user) throws Exception {
        com.starkcore.utils.Page page = Rest.getPage(data, params, user);
        List<{{classname}}> {{classVarName}}s = new ArrayList<>();
        for (SubResource {{classVarName}}: page.entities)
            {{classVarName}}s.add(({{classname}}) {{classVarName}});
        return new Page({{classVarName}}s, page.cursor);
    }
{{/vendorExtensions.x-sdk-page}}
{{#vendorExtensions.x-sdk-update}}

    /**
     * Update {{classname}} entity
     * <p>
     * Parameters:
     * @param id [string]: object unique id
     * @param patchData map of parameters to patch
     * <p>
     * Return:
     * @return updated {{classname}} object
     * @throws Exception error in the request
     */
    public static {{classname}} update(String id, Map<String, Object> patchData) throws Exception {
        return {{classname}}.update(id, patchData, null);
    }

    /**
     * Update {{classname}} entity
     * <p>
     * Parameters:
     * @param id [string]: object unique id
     * @param patchData map of parameters to patch
     * @param user [Organization/Project object]: Organization or Project object
     * <p>
     * Return:
     * @return updated {{classname}} object
     * @throws Exception error in the request
     */
    public static {{classname}} update(String id, Map<String, Object> patchData, User user) throws Exception {
        return Rest.patch(data, id, patchData, user);
    }
{{/vendorExtensions.x-sdk-update}}
{{#vendorExtensions.x-sdk-delete}}

    /**
     * Delete a {{classname}} entity
     * <p>
     * Parameters:
     * @param id [string]: object unique id
     * <p>
     * Return:
     * @return deleted {{classname}} object
     * @throws Exception error in the request
     */
    public static {{classname}} delete(String id) throws Exception {
        return {{classname}}.delete(id, null);
    }

    /**
     * Delete a {{classname}} entity
     * <p>
     * Parameters:
     * @param id [string]: object unique id
     * @param user [Organization/Project object]: Organization or Project object
     * <p>
     * Return:
     * @return deleted {{classname}} object
     * @throws Exception error in the request
     */
    public static {{classname}} delete(String id, User user) throws Exception {
        return Rest.delete(data, id, user);
    }
{{/vendorExtensions.x-sdk-delete}}
{{#vendorExtensions.x-sdk-cancel}}

    /**
     * Cancel a {{classname}} entity
     * <p>
     * Parameters:
     * @param id [string]: object unique id
     * <p>
     * Return:
     * @return canceled {{classname}} object
     * @throws Exception error in the request
     */
    public static {{classname}} cancel(String id) throws Exception {
        return {{classname}}.cancel(id, null);
    }

    /**
     * Cancel a {{classname}} entity
     * <p>
     * Parameters:
     * @param id [string]: object unique id
     * @param user [Organization/Project object]: Organization or Project object
     * <p>
     * Return:
     * @return canceled {{classname}} object
     * @throws Exception error in the request
     */
    public static {{classname}} cancel(String id, User user) throws Exception {
        return Rest.delete(data, id, user);
    }
{{/vendorExtensions.x-sdk-cancel}}
{{#vendorExtensions.x-sdk-pdf}}

    /**
     * Retrieve a specific {{classname}} pdf file
     * <p>
     * Parameters:
     * @param id [string]: object unique id
     * <p>
     * Return:
     * @return {{classname}} pdf file content
     * @throws Exception error in the request
     */
    public static InputStream pdf(String id) throws Exception {
        return {{classname}}.pdf(id, null);
    }

    /**
     * Retrieve a specific {{classname}} pdf file
     * <p>
     * Parameters:
     * @param id [string]: object unique id
     * @param user [Organization/Project object]: Organization or Project object
     * <p>
     * Return:
     * @return {{classname}} pdf file content
     * @throws Exception error in the request
     */
    public static InputStream pdf(String id, User user) throws Exception {
        return Rest.getContent(data, id, "pdf", user, new HashMap<>());
    }
{{/vendorExtensions.x-sdk-pdf}}
{{#vendorExtensions.x-sdk-log}}

    public final static class Log extends Resource {
        static ClassData data = new ClassData(Log.class, "{{classname}}Log");

        public String created;
        public String type;
        public String[] errors;
        public {{classname}} {{classVarName}};

        /**
         * {{classname}} Log object
         * <p>
         * Every time a {{classname}} entity is updated, a corresponding {{classname}} Log
         * is generated for the entity. This log is never generated by the user,
         * but it can be retrieved to check additional information on the {{classname}}.
         * <p>
         * Attributes (return-only):
         * @param id [string]: unique id returned when the log is created
         * @param {{classVarName}} [{{classname}}]: {{classname}} entity to which the log refers to
         * @param errors [list of strings]: list of errors linked to this {{classname}} event
         * @param type [string]: type of the {{classname}} event which triggered the log creation
         * @param created [string]: creation datetime for the log
         */
        public Log(String created, String type, String[] errors, {{classname}} {{classVarName}}, String id) {
            super(id);
            this.created = created;
            this.type = type;
            this.errors = errors;
            this.{{classVarName}} = {{classVarName}};
        }

        public Log() {
            super(null);
        }

        /**
         * Retrieve a specific {{classname}} Log
         * <p>
         * Parameters:
         * @param id [string]: object unique id
         * <p>
         * Return:
         * @return {{classname}} Log object with updated attributes
         * @throws Exception error in the request
         */
        public static Log get(String id) throws Exception {
            return Log.get(id, null);
        }

        /**
         * Retrieve a specific {{classname}} Log
         * <p>
         * Parameters:
         * @param id [string]: object unique id
         * @param user [Organization/Project object]: Organization or Project object
         * <p>
         * Return:
         * @return {{classname}} Log object with updated attributes
         * @throws Exception error in the request
         */
        public static Log get(String id, User user) throws Exception {
            return Rest.getId(data, id, user);
        }

        /**
         * Retrieve {{classname}} Logs
         * <p>
         * Return:
         * @return generator of {{classname}} Log objects with updated attributes
         * @throws Exception error in the request
         */
        public static Generator<Log> query() throws Exception {
            return Log.query(new HashMap<>(), null);
        }

        /**
         * Retrieve {{classname}} Logs
         * <p>
         * Parameters:
         * @param params parameters of the query
         * <p>
         * Return:
         * @return generator of {{classname}} Log objects with updated attributes
         * @throws Exception error in the request
         */
        public static Generator<Log> query(Map<String, Object> params) throws Exception {
            return Log.query(params, null);
        }

        /**
         * Retrieve {{classname}} Logs
         * <p>
         * Parameters:
         * @param user [Organization/Project object]: Organization or Project object
         * <p>
         * Return:
         * @return generator of {{classname}} Log objects with updated attributes
         * @throws Exception error in the request
         */
        public static Generator<Log> query(User user) throws Exception {
            return Log.query(new HashMap<>(), user);
        }

        /**
         * Retrieve {{classname}} Logs
         * <p>
         * Parameters:
         * @param params parameters of the query
         * @param user [Organization/Project object]: Organization or Project object
         * <p>
         * Return:
         * @return generator of {{classname}} Log objects with updated attributes
         * @throws Exception error in the request
         */
        public static Generator<Log> query(Map<String, Object> params, User user) throws Exception {
            return Rest.getStream(data, params, user);
        }

        public final static class Page {
            public List<Log> logs;
            public String cursor;

            public Page(List<Log> logs, String cursor) {
                this.logs = logs;
                this.cursor = cursor;
            }
        }

        /**
         * Retrieve paged {{classname}} Logs
         * <p>
         * Return:
         * @return {{classname}}.Log.Page object with logs list and cursor
         * @throws Exception error in the request
         */
        public static Log.Page page() throws Exception {
            return Log.page(new HashMap<>(), null);
        }

        /**
         * Retrieve paged {{classname}} Logs
         * <p>
         * Parameters:
         * @param params parameters of the query
         * <p>
         * Return:
         * @return {{classname}}.Log.Page object with logs list and cursor
         * @throws Exception error in the request
         */
        public static Log.Page page(Map<String, Object> params) throws Exception {
            return Log.page(params, null);
        }

        /**
         * Retrieve paged {{classname}} Logs
         * <p>
         * Parameters:
         * @param user [Organization/Project object]: Organization or Project object
         * <p>
         * Return:
         * @return {{classname}}.Log.Page object with logs list and cursor
         * @throws Exception error in the request
         */
        public static Log.Page page(User user) throws Exception {
            return Log.page(new HashMap<>(), user);
        }

        /**
         * Retrieve paged {{classname}} Logs
         * <p>
         * Parameters:
         * @param params parameters of the query
         * @param user [Organization/Project object]: Organization or Project object
         * <p>
         * Return:
         * @return {{classname}}.Log.Page object with logs list and cursor
         * @throws Exception error in the request
         */
        public static Log.Page page(Map<String, Object> params, User user) throws Exception {
            com.starkcore.utils.Page page = Rest.getPage(data, params, user);
            List<Log> logs = new ArrayList<>();
            for (SubResource log: page.entities)
                logs.add((Log) log);
            return new Page(logs, page.cursor);
        }
    }
{{/vendorExtensions.x-sdk-log}}
}
{{/model}}{{/models}}
