package {{package}};

import com.starkbank.utils.Rest;
import com.starkbank.utils.Resource;
import com.starkbank.utils.Generator;

import java.time.OffsetDateTime;
import java.util.List;
import java.util.Map;

{{#models}}{{#model}}
/**
 * {{classname}} object
 * <p>
 * {{{description}}}
 * <p>
 * Parameters:
{{#vars}} * {{name}} [{{{dataType}}}]{{^required}}, optional{{/required}}: {{{description}}}
{{/vars}} *
 * Assumes Rest.put(...) exists mirroring Rest.post(...) — not verified against starkcore.
 */
public class {{classname}} extends Resource {
    static ClassData data = new ClassData({{classname}}.class, "{{classname}}");

{{#vars}}{{^-first}}    public {{{dataType}}} {{name}};
{{/-first}}{{/vars}}

    public {{classname}}({{#vars}}{{{dataType}}} {{name}}{{^-last}}, {{/-last}}{{/vars}}) {
        super(id);
{{#vars}}{{^-first}}        this.{{name}} = {{name}};
{{/-first}}{{/vars}}
    }

    /**
     * Create or update {{classname}}s
     * <p>
     * Send a list of {{classname}} objects for creation/update in the Stark Bank API
     * <p>
     * Parameters:
     * @param profiles [list of {{classname}} objects or HashMaps]: list of {{classname}} objects to be created/updated in the API
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return list of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    public static List<{{classname}}> put(List<?> profiles, User user) throws Exception {
        return Rest.put(data, profiles, user);
    }

    /**
     * Retrieve a specific {{classname}}
     * <p>
     * Parameters:
     * @param id [string]: object unique id. ex: "5656565656565656"
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return {{classname}} object with updated attributes
     * @throws Exception error in the request
     */
    public static {{classname}} get(String id, User user) throws Exception {
        return Rest.getId(data, id, user);
    }

    /**
     * Retrieve {{classname}}s
     * <p>
     * Parameters:
     * @param params map of parameters for the query
     * @param user [Organization/Project object]: Organization or Project object. Not necessary if starkbank.User.defaultUser was set before function call
     * <p>
     * Return:
     * @return generator of {{classname}} objects with updated attributes
     * @throws Exception error in the request
     */
    public static Generator<{{classname}}> query(Map<String, Object> params, User user) throws Exception {
        return Rest.getStream(data, params, user);
    }
}
{{/model}}{{/models}}
